body{
    background-color: #0C043E;
    background-image: url(data/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0%;
}
h1{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    margin: 0%;
}
h2{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    margin: 0%;
}
h3{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin: 0%;
}
h4{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin: 0px;
}
p{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0%;
}
a{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin: 0%;
    cursor: pointer;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
}

.categorias{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categorias a{
    padding-left: 45px;
    padding-right: 45px;
}
.categorias img{
    margin-right: 0%;
    margin-left: 0px;
    height: 38px;
}
.categorias button{
    align-self: end;
    background-color: #01C5FF;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 600;
    width: 155px;
    height: 36px;
    border-radius: 6px;
    margin-left: 45px;
}
.perfil{
    margin-left: 99px;
    margin-right: 50px;
}
.menu2{
    margin-right: 210px;
    display: flex;
    justify-content: end;
    gap: 45px;
}
/* banner */
.banner{
    margin-top: 50px;
    background-image: url(data/fondo-banner.png);
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: start;

}
.banner .text{
    width: 946px;
    margin-left: 133px;
    margin-top: 40px;
    margin-bottom: 50px;
}
/* CA-AS*/
.CA-AS{
    margin-left:133px;
    margin-right:133px;
    margin-top: 100px;
    display: flex;
}
.cuadro{
    margin-top: 30px;
    background-color: #161616;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cuadro p{
    font-size: 24px;
}
.boton{
    margin-top: 20px;
    background-color: #01C5FF;
    width: 207px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
.boton a{
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}
.PorqueTeGusto{
    display: block;
    margin-top: 65px;
}
.PorqueTeGusto .frase{
    display: flex;
    margin-bottom: 20px;
    font-size: 24px;
}
.PorqueTeGusto .frase a{
    color: #01C5FF;
}
/* cards */
.card{
    width: 100%;

}
.card .text{
    background-color: white;
    padding-top:38px ;
    padding-bottom:10px ;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}
.card .text p{
    font-weight: 600;
    font-size: 24px;
    color: black;
}
.card .iconos{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.card .iconos img{
   width: 43px;
   height: 43px;
}
.card .iconos .redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
b{
    margin-left: 133px;
    margin-right: 133px;
}
.artistas-de-la-semana{
   display: block;
   margin-left: 140px;
}
.artistas-de-la-semana .text{
    background-color: rgba(255, 255, 255,0.8);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 27px;
}
.artistas-de-la-semana .text p{
color: #0C043E;
font-size: 24px;
font-weight: 600;
}
.artistas-de-la-semana .card1{
    display: flex;
    align-items: end;
    margin-top: 50px;
    background-image: url(data/ADS-1.png);
    height: 265px;
    }
.artistas-de-la-semana .card2{
    display: flex;
    align-items: end;
    margin-top: 50px;
    background-image: url(data/ADS-2.png);
    height: 265px;
     }
.artistas-de-la-semana .card3{
    display: flex;
    align-items: end;
    margin-top: 50px;
    background-image: url(data/ADS-3.png);
    height: 265px;
    }
.artistas-de-la-semana .card4{
    display: flex;
    align-items: end;
    margin-top: 50px;
    background-image: url(data/ADS-4.png);
    height: 265px;
    }
.parte2{
    display: flex;
    margin-right:133px;
    margin-left: 133px;
}
.invisible{
    margin-left: 140px;
    display:none;
}
.parte2 h3{
    font-size: 24px;
    margin-top: 50px;
}
.cuadro-b{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#D9D9D9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 687px;
}
.img-nom{
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}
.img-nom p{
    margin-left: 20px;
    color: #000000
}
.texto p,.texto h2{
    color: #000000;
}
/* footer */
footer{
    margin-top: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.texto2{
    padding-top: 50px;
    margin-left: 133px;
}
.texto2 h2{
    color: #01C5FF;
    font-family: "Sora", sans-serif;
    font-weight: 600;
}
.texto2 h4{
    padding-top: 35px;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}
.redes2{
    display: block;
    padding-top: 50px;
    margin-right: 133px;
    margin-bottom: 103px;
}
.redes2 img{
    padding-left: 31px;
    padding-right: 31px;
}
.redes2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
}